<div class="container">
  <h2 class="title">Наша технологии</h2>
  <div class="wrapper">
    <div class="wrapper__front flex">
      <h2 class="wrapper__title color">Frontend</h2>
      <img src="https://img.icons8.com/?size=256&id=dSnah6CSCxRG&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=uJM6fQYqDaZK&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=108784&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=20909&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=21278&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=7I3BjCqe9rjG&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=dzfo6UeXW9h7&format=png" width="100" height="100" alt="">
    </div>
    <div class="wrapper__back flex">
      <h2 class="wrapper__title color">Backend</h2>
      <img src="https://img.icons8.com/?size=256&id=7AFcZ2zirX6Y&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=lTKW3iI3wIT0&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=Fycm8TUhWmFU&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=1BC75jFEBED6&format=png" width="100" height="100" alt="">
    </div>
    <div class="wrapper__stack flex">
      <h2 class="wrapper__title color">Gay-dev</h2>
      <img src="https://img.icons8.com/?size=256&id=UGrLCnKJf6Px&format=png" width="100" height="100" alt="">
      <img src="https://img.icons8.com/?size=256&id=39848&format=png" width="100" height="100" alt="">
    </div>
  </div>
</div> 
