<header class="header">
  <div class="container">
    <div class="header__prewive">
      <img
        src="assets/TPP.png"
        class="header__img"
        alt="Responsive image"
        style="max-height: 300px"
      />
      <div class="welcom-text">
        <h4 style="color: #6495ed; font-size: -webkit-xxx-large">
          Tech Power Partners
        </h4>
        <p>
          Мы - активное и дружелюбное сообщество, где каждый найдет помощь и
          поддержку. Здесь ты сможешь общаться с опытными разработчиками,
          задавать вопросы, делиться своими проектами и находить новых друзей с
          общими интересами. Будь то начинающий программист или опытный
          специалист, у нас есть место для каждого. Присоединяйся к нам и
          расширяй свои знания в IT программировании вместе с нами!
        </p>
      </div>
    </div>
    <button class="btn" href="#">
      <!-- https://discord.gg/PaW3DdjbWM -->
      Присоединиться к нам
    </button>
  </div>
</header>
